DEEPINFRA_API_KEY=
# MORPHO_DATA_DIR=./data
# BIND=127.0.0.1:8000
# CONTEXT_TOKEN_BUDGET=4000
# MAX_PROMPT_TOKENS=12000
# MAX_COMPLETION_TOKENS=2048
# BACKGROUND_DAILY_TOKEN_BUDGET=100000
# IDLE_REFLECT_SECONDS=300
# REFLECT_EVERY_N_EVENTS=10
# CONSUMER_MAX_FAILURES=3
# WORKER_INPROCESS=true
